form {
  width: 50%;
  height: auto;
  max-height: calc(100vh - 85px);
  margin: auto;
  background-color: white;
  padding: 1% 2%;
  font-weight: 400;
  font-family: 'DynaPuff', cursive;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
form::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
form {
  -ms-overflow-style: none;
}


textarea {
  resize: none;
  height: 200px;
}

.img-upload-btn {
  font-size: 12px;
}

.valid {
  color: green;
  position: relative;
  top: 4px;
  font-size: 13px;
}

.invalid {
  color: red;
  position: relative;
  top: 4px;
  font-size: 13px;
}

.submit-button {
  text-align: right;
}

.image-preview {
  display: flex;
  flex-wrap: wrap;

  .image-container {
    margin-left: 15px;
    margin-bottom: 15px;

    img {
      width: 200px;
      height: 200px;
    }
  }
}
