<form>
  <div class="mb-3">
    <label for="userEmail" class="form-label">Email address</label>
    <input type="email" class="form-control" id="userEmail" placeholder="Enter your email">
  </div>
  <div class="mb-3">
    <label for="userPass" class="form-label">Password</label>
    <input type="password" class="form-control" id="userPass" placeholder="Enter your password">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
  <div class="mt-3 signup-text">
    <a routerLink="/signup">Don't have an account, click here to sign up</a>
  </div>
</form>

