.posts-container {
  text-align: left;
  height: calc(100vh - 85px);
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.posts-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.posts-container {
  -ms-overflow-style: none;
}

.user-detail-card {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
  }

  .alt-card-img {
    font-size: 60px;
    font-weight: 700;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
    color: white;
    padding-top: 4px;
    text-align: center;
  }
}

.post-container {
  background-color: white;
  margin-bottom: 20px;
  padding: 1% 0;
  font-weight: 400;
  font-family: 'DynaPuff', cursive;
}


.user-info-section {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .action-btns {
    flex-grow: 1;
    text-align: right;

    button {
      width: 100px;
      margin-left: 15px;
    }
  }
}

.user-img-section {
  .user-img {
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }

  .alt-user-img {
    font-size: 24px;
    font-weight: 700;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    color: white;
    padding-top: 4px;
    text-align: center;
  }

}

.user-info {
  text-align: left;
  margin-left: 20px;

  .user-name {
    font-weight: 700;
  }

  .user-work-info {
    color: rgba(0,0,0,0.8);
  }
}

hr {
  width: 95%;
  position: relative;
  left: 2.5%;
}

.post-detail-card {
  width: 100%;
  border: none;
  cursor: pointer;

  img {
    width: 100%;
    height: 400px;
  }

  .card-text {
    text-align: left;
    white-space: pre-line;

    span {
      color: burlywood;
      margin-left: 5px;
    }
  }
}

.comment-info {
  display: flex;
  justify-content: space-between;
}

.btn-group {
  display: flex;

  .btn {
    width: max-content;
    max-width: 150px;
    margin-right: 10px;
    border-radius: 5px;
  }
}

.spinner-grow {
  position: relative;
  top: 20%;
}

.empty-page {
  min-height: calc(100vh - 100px);
  background-color: white;
  padding: 2%;
  border-radius: 4px;

  .empty-page-img {
    text-align: center;
    margin-bottom: 50px;

    img {
      width: 80%;
      height: 50vh;
    }
  }

  .empty-page-title {
    font-size: 20px;
    text-align: center;
  }

  .empty-page-text {
    text-align: center;
    font-size: 14px;
  }

  .create-post-btn {
    text-align: center;

    button {
      border: none;
      border-radius: 3px;
      padding: 5px 15px;
      background-color: black;
      color: white;
    }
  }
}
