<div class="container">
  <ng-container *ngFor="let post of postsList">
    <div class="row post-container">
      <div class="user-info-section">
        <div class="user-img-section">
          <div class="user-img" *ngIf="post.userImg">
            <img [src]="post.postImage" alt="User">
          </div>
          <div class="alt-user-img" *ngIf="!post.postImage">A</div>
        </div>
        <div class="user-info">
          <div class="user-name">{{ post.userName }}</div>
          <div class="user-work-info">{{ post.userWork }}</div>
        </div>
      </div>
      <hr>
      <div class="card">
        <div class="card-body">
          <p class="card-text">{{ post.postDesc }}</p>
        </div>
        <img [src]="post.postImage" class="card-img-top" alt="">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="comment-info">
              <div class="comment-users">Akash & 23 Others</div>
              <div class="comment-num">24 Comments</div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
              <button type="button" class="btn btn-danger">Like</button>
              <button type="button" class="btn btn-warning">Comment</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </ng-container>
</div>
