<div class="container">
  <div class="row post-container">
    <div class="user-info-section">
      <div class="user-img-section">
        <!-- <img src="" alt=""> -->
        <div class="alt-user-img">A</div>
      </div>
      <div class="user-info">
        <div class="user-name">Akash</div>
        <div class="user-work-info">B.Tech Mechanical</div>
      </div>
    </div>
    <hr>
    <div class="card">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
      <img
        src="https://images.unsplash.com/photo-1661077731761-20d878c92341?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80.jpg"
        class="card-img-top" alt="">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="comment-info">
            <div class="comment-users">Akash & 23 Others</div>
            <div class="comment-num">24 Comments</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button type="button" class="btn btn-danger">Like</button>
            <button type="button" class="btn btn-warning">Comment</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
